In [1]:
import pandas as pd
import numpy as np
import matplotlib as np

In [4]:
#trick 1
import pandas_profiling

users = pd.read_table('http://bit.ly/movieusers')
pandas_profiling.ProfileReport(users)

In [5]:
users.describe()

        1|24|M|technician|85711
count                       942
unique                      942
top     443|35|M|salesman|33308
freq                          1

In [6]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942 entries, 0 to 941
Data columns (total 1 columns):
1|24|M|technician|85711    942 non-null object
dtypes: object(1)
memory usage: 7.4+ KB

In [ ]:
#gb = df.groupby(["TimeFrame", "VehicleId", "VehicleJourneyId"], as_index=False, group_keys=False)
#gb = gb.filter(lambda x: len(x) > 5)
#df = pd.DataFrame(gb)

#gb.apply(func_name)

In [ ]:
#remove characters from pandas column
#df.location.replace('\(|\)', '', regex=True)

In [ ]:
import networkx as nx
import pandas as pd

years, graphs = list(zip(*[(year, nx.barbell_graph(5,6)) for year in range(2000,2005)]))
df = pd.DataFrame({"graph": graphs}, index=years)
df["avg_shortest_path"] = df.graph.apply(nx.average_shortest_path_length)
df["transitivity"] = df.graph.apply(nx.transitivity)
dfï»¿